body{
    max-width: 800px;
    max-height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #c0d8ec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
:root{
    --light: #ddd;
    --dark: #111;
    --text-shadow: 5px 5px 4px rgba(1, 0, 5, 0.8)
}
h2{
    color: blue;
    margin: 4rem 0;
    text-shadow: var(--text-shadow);
    
}
h1,span {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.2rem 1rem;
}
label{
    background-color: var(--dark);
    color: var(--light);
}
.container{
    width: 360px;
    height: 360px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    box-shadow: 0 0 10px 4px rgb(248, 188, 188);
    padding: 5px;
}
.element{
    width: 100px;
    height: 100px;
    border: 1px solid var(--dark);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.8);
    color: var(--light);
    text-shadow: var(--text-shadow);
    border-radius: 5px;
        
    
}
.element:hover{
    cursor: pointer;
    box-shadow: inset 0 0 1px 5px var(--dark);
    background-color: var(--dark);
}